In [49]:
import pandas as pd
import re

In [2]:
df_poblation = pd.read_csv('resultado/df_poblation.csv')
df_deaths = pd.read_csv('resultado/df.csv')

In [5]:
df_deaths.head()

,Entity,Code,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),ISO3
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,3709,338,2054,4154,5945,2673,5005,323,2985,AFG
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,3724,351,2119,4472,6050,2728,5120,332,3092,AFG
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,3776,386,2404,5106,6223,2830,5335,360,3325,AFG
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,3862,425,2797,5681,6445,2943,5568,396,3601,AFG
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,3932,451,3038,6001,6664,3027,5739,420,3816,AFG

In [6]:
df_poblation.head()

,Entity,Year,Population,Population of children under the age of 1,Population of children under the age of 5,Population of children under the age of 15,Population under the age of 25,Population aged 15 to 64 years,Population older than 15 years,Population older than 18 years,...,population__all__60_64__records,population__all__65_69__records,population__all__70_74__records,population__all__75_79__records,population__all__80_84__records,population__all__85_89__records,population__all__90_94__records,population__all__95_99__records,ISO3,Country
0,Afghanistan,1950,7480464,301735.0,1248282,3068855,4494349,4198587,4411609,3946595,...,161196,110709,64310,28381,8153,1346,115,8,AFG,Afghanistan
1,Afghanistan,1951,7571542,299368.0,1246857,3105444,4552138,4250002,4466098,3993640,...,161821,111465,65210,29148,8672,1483,109,9,AFG,Afghanistan
2,Afghanistan,1952,7667534,305393.0,1248220,3145070,4613604,4303436,4522464,4041439,...,162710,112142,66123,29903,9137,1584,129,10,AFG,Afghanistan
3,Afghanistan,1953,7764549,311574.0,1254725,3186382,4676232,4356242,4578167,4088379,...,163777,112800,67058,30647,9561,1693,155,11,AFG,Afghanistan
4,Afghanistan,1954,7864289,317584.0,1267817,3231060,4741371,4408474,4633229,4136116,...,164736,113474,67953,31345,9963,1830,179,11,AFG,Afghanistan

In [ ]:
#Creamos un df de poblaciÃ³n filtrado a partir de 1990, ya que los datos de muertes por distintas causas empiezan en ese aÃ±o
df_pob_filtered_year = df_poblation[df_poblation['Year']>=1990]

In [17]:
#Hacemos un merge con las columnas Entity y Year

merged_df = pd.merge(df_deaths, df_pob_filtered_year, on=['Entity', 'Year'])

In [14]:
merged_df.head()

,Entity,Code,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,population__all__60_64__records,population__all__65_69__records,population__all__70_74__records,population__all__75_79__records,population__all__80_84__records,population__all__85_89__records,population__all__90_94__records,population__all__95_99__records,ISO3_y,Country
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,170537,115698,69915,35740,14068,4038,731,79,AFG,Afghanistan
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,170016,116184,70182,35931,14188,4049,737,80,AFG,Afghanistan
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,189390,130639,79050,40502,16088,4559,836,91,AFG,Afghanistan
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,218463,151998,92391,47427,18947,5341,986,104,AFG,Afghanistan
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,239331,167636,102603,52827,21216,5967,1105,115,AFG,Afghanistan

In [21]:
# Identificamos las columnas de muertes (todas excepto 'Entity', 'Code','Year' e 'ISO3')
deaths_columns = [col for col in df_deaths.columns if col not in ['Entity','Year', 'Code', 'ISO3']]
print(deaths_columns)

['Deaths - Meningitis - Sex: Both - Age: All Ages (Number)', "Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)", "Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)", 'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)', 'Deaths - Malaria - Sex: Both - Age: All Ages (Number)', 'Deaths - Drowning - Sex: Both - Age: All Ages (Number)', 'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)', 'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)', 'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)', 'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)', 'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)', 'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)', 'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)', 'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)', 'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)', 'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)', 'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)', 'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)', 'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)', 'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)', 'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)', 'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)', 'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)', 'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)', 'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)', 'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)', 'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)']

In [24]:
# Aplicamos la fÃ³rmula para generar la tasa de muertes por cada 100000k
for col in deaths_columns:
   new_column = f'{col}_per_100k',
   merged_df[new_column] = merged_df.apply(
        lambda row: (row[col] / row['Population']) * 100000, axis=1
    )

In [39]:
merged_df.head()

,Entity,Code,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,"(Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Poisonings - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Road injuries - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)_per_100k,)"
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,19.710506,34.680392,3.160413,19.205588,38.841292,55.587741,24.993445,46.798427,3.020158,27.910750
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,19.729799,34.657439,3.266585,19.720492,41.618707,56.304378,25.388156,47.649325,3.089761,28.775725
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,17.856201,31.316774,3.201344,19.937904,42.347312,51.611304,23.470993,44.246555,2.985709,27.576344
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,15.674357,27.578300,3.034898,19.973201,40.567665,46.023341,21.015778,39.760739,2.827811,25.714515
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,14.434935,25.440683,2.918044,19.656357,38.827451,43.117169,19.585185,37.132268,2.717469,24.690144

In [40]:
# Eliminamos las columnas originales de muertes
merged_df.drop(columns=deaths_columns, inplace=True)

In [45]:
merged_df.columns

Index([                                                                                              'Entity',
                                                                                                       'Code',
                                                                                                       'Year',
                                                                                                     'ISO3_x',
                                                                                                 'Population',
                                                                  'Population of children under the age of 1',
                                                                  'Population of children under the age of 5',
                                                                 'Population of children under the age of 15',
                                                                             'Population under the age of 25',
                                                                             'Population aged 15 to 64 years',
                                                                             'Population older than 15 years',
                                                                             'Population older than 18 years',
                                                                                        'Population at age 1',
                                                                               'Population aged 1 to 4 years',
                                                                               'Population aged 5 to 9 years',
                                                                             'Population aged 10 to 14 years',
                                                                             'Population aged 15 to 19 years',
                                                                             'Population aged 20 to 29 years',
                                                                             'Population aged 30 to 39 years',
                                                                             'Population aged 40 to 49 years',
                                                                             'Population aged 50 to 59 years',
                                                                             'Population aged 60 to 69 years',
                                                                             'Population aged 70 to 79 years',
                                                                             'Population aged 80 to 89 years',
                                                                             'Population aged 90 to 99 years',
                                                                            'Population older than 100 years',
                                                                            'population__all__20_24__records',
                                                                            'population__all__25_29__records',
                                                                            'population__all__30_34__records',
                                                                            'population__all__35_39__records',
                                                                            'population__all__40_44__records',
                                                                            'population__all__45_49__records',
                                                                            'population__all__50_54__records',
                                                                            'population__all__55_59__records',
                                                                            'population__all__60_64__records',
                                                                            'population__all__65_69__records',
                                                                            'population__all__70_74__records',
                                                                            'population__all__75_79__records',
                                                                            'population__all__80_84__records',
                                                                            'population__all__85_89__records',
                                                                            'population__all__90_94__records',
                                                                            'population__all__95_99__records',
                                                                                                     'ISO3_y',
                                                                                                    'Country',
                                       ('Deaths - Meningitis - Sex: Both - Age: All Ages (Number)_per_100k',),
          ('Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)_per_100k',),
                              ('Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)_per_100k',),
                         ('Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)_per_100k',),
                                          ('Deaths - Malaria - Sex: Both - Age: All Ages (Number)_per_100k',),
                                         ('Deaths - Drowning - Sex: Both - Age: All Ages (Number)_per_100k',),
                           ('Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)_per_100k',),
                               ('Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)_per_100k',),
                                         ('Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)_per_100k',),
                               ('Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)_per_100k',),
                                     ('Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)_per_100k',),
                          ('Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)_per_100k',),
                     ('Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)_per_100k',),
                               ('Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)_per_100k',),
                            ('Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)_per_100k',),
                                        ('Deaths - Self-harm - Sex: Both - Age: All Ages (Number)_per_100k',),
                     ('Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)_per_100k',),
                               ('Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)_per_100k',),
             ('Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)_per_100k',),
                                        ('Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)_per_100k',),
                           ('Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)_per_100k',),
                                ('Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)_per_100k',),
                           ('Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)_per_100k',),
                                       ('Deaths - Poisonings - Sex: Both - Age: All Ages (Number)_per_100k',),
                      ('Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)_per_100k',),
                                    ('Deaths - Road injuries - Sex: Both - Age: All Ages (Number)_per_100k',),
                     ('Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)_per_100k',),
       ('Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)_per_100k',),
                               ('Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)_per_100k',),
                   ('Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)_per_100k',),
                                  ('Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)_per_100k',)],
      dtype='object')

In [46]:
#Definimos el resto de columnas de poblaciÃ³n
columns_eliminate = ['Population of children under the age of 1', 'Population of children under the age of 5',
                                                                 'Population of children under the age of 15',
                                                                             'Population under the age of 25',
                                                                             'Population aged 15 to 64 years',
                                                                             'Population older than 15 years',
                                                                             'Population older than 18 years',
                                                                                        'Population at age 1',
                                                                               'Population aged 1 to 4 years',
                                                                               'Population aged 5 to 9 years',
                                                                             'Population aged 10 to 14 years',
                                                                             'Population aged 15 to 19 years',
                                                                             'Population aged 20 to 29 years',
                                                                             'Population aged 30 to 39 years',
                                                                             'Population aged 40 to 49 years',
                                                                             'Population aged 50 to 59 years',
                                                                             'Population aged 60 to 69 years',
                                                                             'Population aged 70 to 79 years',
                                                                             'Population aged 80 to 89 years',
                                                                             'Population aged 90 to 99 years',
                                                                            'Population older than 100 years',
                                                                            'population__all__20_24__records',
                                                                            'population__all__25_29__records',
                                                                            'population__all__30_34__records',
                                                                            'population__all__35_39__records',
                                                                            'population__all__40_44__records',
                                                                            'population__all__45_49__records',
                                                                            'population__all__50_54__records',
                                                                            'population__all__55_59__records',
                                                                            'population__all__60_64__records',
                                                                            'population__all__65_69__records',
                                                                            'population__all__70_74__records',
                                                                            'population__all__75_79__records',
                                                                            'population__all__80_84__records',
                                                                            'population__all__85_89__records',
                                                                            'population__all__90_94__records',
                                                                            'population__all__95_99__records',]

In [47]:
# Eliminamos las columnas originales de poblaciÃ³n
merged_df.drop(columns=columns_eliminate, inplace=True)

In [64]:
merged_df.head()

,Entity,Code,Year,ISO3_x,Population,ISO3_y,Country,"(Deaths - Meningitis - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)_per_100k,)",...,"(Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Poisonings - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Road injuries - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)_per_100k,)","(Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)_per_100k,)"
0,Afghanistan,AFG,1990,AFG,10694804,AFG,Afghanistan,20.187373,10.434974,3.468974,...,19.710506,34.680392,3.160413,19.205588,38.841292,55.587741,24.993445,46.798427,3.020158,27.910750
1,Afghanistan,AFG,1991,AFG,10745168,AFG,Afghanistan,20.641836,10.572194,3.480634,...,19.729799,34.657439,3.266585,19.720492,41.618707,56.304378,25.388156,47.649325,3.089761,28.775725
2,Afghanistan,AFG,1992,AFG,12057436,AFG,Afghanistan,20.526752,9.637206,3.134995,...,17.856201,31.316774,3.201344,19.937904,42.347312,51.611304,23.470993,44.246555,2.985709,27.576344
3,Afghanistan,AFG,1993,AFG,14003764,AFG,Afghanistan,20.080316,8.476293,2.742120,...,15.674357,27.578300,3.034898,19.973201,40.567665,46.023341,21.015778,39.760739,2.827811,25.714515
4,Afghanistan,AFG,1994,AFG,15455560,AFG,Afghanistan,19.585185,7.835368,2.529834,...,14.434935,25.440683,2.918044,19.656357,38.827451,43.117169,19.585185,37.132268,2.717469,24.690144

In [65]:
df_deaths_100k =merged_df

In [71]:
#Guardamos el resultado en un nuevo CSV llamado 
df_deaths_100k.to_csv('df_deaths_100k.csv', index=False)